api.deps.json
api.dll
api.pdb
api.runtimeconfig.dev.json
api.runtimeconfig.json
AssemblyReference.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UserSecretsAssemblyInfo.cs
api.AssemblyInfo.cs
api.AssemblyInfoInputs.cache
api.RazorAssemblyInfo.cache
api.RazorAssemblyInfo.cs
api.RazorTargetAssemblyInfo.cache
api.assets.cache
api.csproj.CoreCompileInputs.cache
api.csproj.FileListAbsolute.txt
api.csprojAssemblyReference.cache
project.razor.json
api.csproj.EntityFrameworkCore.targets
api.csproj.nuget.cache
api.csproj.nuget.g.props
api.csproj.nuget.g.targets
project.assets.json
ProjectSettings.json
VSWorkspaceState.json
.suo
db.lock
storage.ide
storage.ide-shm
storage.ide-wal
applicationhost.config
slnx.sqlite
